settings.json
*.toml
*.zip
*.rar
*.md
*.rbxl
*.rbxlx
*.rbxmx
*.rbxm
*.lock
default.project.json
*.pdn
*.png
*.jpg
*.jpeg
*.mp3
Archive/
Assets/
Configuration/
BadgesAssets/
Studies/
TwitterGoals/
*.mtl
*.obj
*.fbx
*.wav
*.mp4